<!-- views/home.html -->
{% extends "layout.njk" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
  <p>This is the home page content.</p>
  <button id="load-content-button" hx-get="/load-data">Load Data</button>
  <div id="dynamic-content"></div>
{% endblock %}