<!-- views/layout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{title}}{% endblock %}</title>
</head>
<body>
  <header>
    <h1>Welcome to My App</h1>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>&copy; 2023 damirdine</p>
  </footer>
  <!-- Include HTMX and Hyperscript via CDN -->
  <script src="https://unpkg.com/htmx.org@1.5.0/dist/htmx.js"></script>
  <script src="https://unpkg.com/htmx.org@1.5.0/dist/hyperscript.js"></script>
  <!-- Your custom JavaScript for using HTMX -->
  <script src="/js/index.js"></script>
</body>
</html>